## ROOT
oral.txt

## FRONTEND
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/front/dist
/front/tmp
/front/out-tsc
/front/bazel-out

# Node
/front/node_modules
/front/npm-debug.log
/front/yarn-error.log

# IDEs and editors
/front/.idea/
/front/.project
/front/.classpath
/front/.c9/
/front/*.launch
/front/.settings/
/front/*.sublime-workspace

# Visual Studio Code
/front/.vscode/*
/front/!.vscode/settings.json
/front/!.vscode/tasks.json
/front/!.vscode/launch.json
/front/!.vscode/extensions.json
/front/.history/*

# Miscellaneous
/front/.angular/cache
/front.sass-cache/
/front/connect.lock
/front/coverage
/front/libpeerconnection.log
/fronttestem.log
/front/typings

# System files
/front/.DS_Store
/front/Thumbs.db

/front/**/.DS_Store 

## BACKEND
/back/HELP.md
/back/target/
/back/!.mvn/wrapper/maven-wrapper.jar
/back/!**/src/main/**
/back/!**/src/test/**

### STS ###
/back/.apt_generated
/back/.classpath
/back/.factorypath
/back/.project
/back/.settings
/back/.springBeans
/back/.sts4-cache

### IntelliJ IDEA ###
/back/.idea
/back/*.iws
/back/*.iml
/back/*.ipr

### NetBeans ###
/back/nbproject/private/
/back/nbbuild/
/back/dist/
/back/nbdist/
/back/.nb-gradle/
/backbuild/

### VS Code ###
/back/.vscode/
/back/**/.DS_Store
/back/.DS_Store
/back/*.DS_Store